#Operating System and Editor Files:
# Windows thumbnail files
Thumbs.db
# Visual Studio Code settings
.vscode
.vs
.notes
# JetBrains IDE settings
.idea
#Build and Output Files:
# Build output directory
build
# Distribution files
dist
# Output directory
out
psd
pdf
_mysql
#Package Manager Files:
# npm package lock file
package-lock.json
#Compiler and Build Configuration:
.gitkeep
#Credentials and Sensitive Information (Never store sensitive information in a Git repository):
.env.development
.env.production
#Logs and Debug Files:
*.log
npm-debug.log*
#Dependency Directories:
node_modules
# Dossiers de build
bin
obj
# Dossiers des packages NuGet
packages
# Fichiers de configuration personnelle
**/appsettings.json
# Dossiers et fichiers spécifiques à l'IDE
*.user
*.userprefs
# Autres fichiers et dossiers
*.log
*.tmp
*.vsix
*.swp