#Operating System and Editor Files:
# Windows thumbnail files
Thumbs.db
.vscode
.vs
.notes
*.user
*.suo

# JetBrains IDE settings
.idea

#Build and Output Files:
_api/bin
_api/obj
build
dist

# Output directory
out
psd
pdf
_mysql
pages
migrations

#Package Manager Files:
package-lock.json

#Compiler and Build Configuration:
.gitkeep

#Credentials and Sensitive Information (Never store sensitive information in a Git repository):
.env
.env.development
.env.production

#Logs and Debug Files:
*.log
npm-debug.log*

#Dependency Directories:
node_modules

# Dossiers de build
bin
obj

# Dossiers des packages NuGet
packages

# Fichiers de configuration personnelle
**/appsettings.json

# Dossiers et fichiers spécifiques à l'IDE
*.user
*.userprefs

# Autres fichiers et dossiers
*.pfx
*.log
*.tmp
*.vsix
*.swp
heic
*.HEIC
tif
*.tif
psd
*.psd
png
*.png
pdf
*.pdf
webp
*.cr


