body {
	//background-image: url("/public/assets/images/bg-mousse.jpg");
	//background-image: url("/public/assets/images/bg-blue-flours.jpg");
	background-size: cover; // this will make sure the image covers the entire header
	background-repeat: no-repeat; // this will prevent the image from repeating
	background-position: center center; // this centers the image in the header
	background-attachment: fixed; // ensures the background stays in place when scrolling
	height: 100%; // ensures the body covers the whole viewport
	margin: 0; // removes default margin
	overflow-x: hidden; // prevents horizontal scrolling
	background-color: #e8e8d6; // Reférence ChatGPT/pricing page : https://openai.com/chatgpt/pricing (binome colors with a footer of a dark green #1F3319 )
	//background-color: #E9F0FE; // Reférence Google Chrome new version splash screen
}

html {
	height: 100%; // ensures the html element covers the whole viewport
}

blockquote {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
