@use "sass:math";
@use "mixins";
@import "variables";

header {
	.container {
		@include mixins.header-container;

		.row {
			@include mixins.flex-row;
			padding-bottom: calc($spacing-unit / 2);

			.col {
				@include mixins.flex-column;

				p {
					opacity: 0.4;

					&.uppercase-text {
						cursor: pointer;
						transition: opacity 0.3s ease; // Smooth transition for opacity change
						&:hover {
							opacity: 1; // Full opacity on hover
						}
					}
				}
			}

			.underline {
				@include mixins.underline;
			}

			.head-marquee {
				@include mixins.head-marquee;
			}

			// Adaptations pour les tablettes
			@media (max-width: 1166px) and (min-width: 768px) {
				justify-content: flex-start;
				white-space: nowrap; /* Prevents the text from wrapping */
				overflow: hidden; /* Prevents the text from overflowing the container */
				text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */

				.col {
					flex: 0 0 50%; // Base de 50% pour avoir 2 colonnes
					max-width: 50%; // Largeur maximale de 50%
				}

				.col:not(:first-child):not(:last-child) {
					display: none;
				}
			}

			// Adaptations pour les mobiles
			@media (max-width: $breakpoint-md) {
				justify-content: center;
				//max-width: min-content;
				white-space: nowrap; /* Prevents the text from wrapping */
				overflow: hidden; /* Prevents the text from overflowing the container */
				text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */

				.col:not(:first-child):not(:last-child) {
					display: none;
				}

				.col {
					flex: 0 0 100%; // Base de 100% pour avoir 1 colonne
					max-width: 100%; // Largeur maximale de 100%
				}
			}
		}
	}
}
