@use "sass:math";
@import "variables";

header {
	.container {
		padding-top: $spacing-unit * 2.5;
		max-width: $container-max-width;
		margin: 0 auto;

		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: end;
			margin: 0 $spacing-unit * 2 0 $spacing-unit * 2;
			padding-bottom: calc($spacing-unit / 2);

			.col {
				display: flex;
				flex: 1 1 25%;
				max-width: 25%;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start; // Alignement à gauche
				padding: 0 $spacing-unit;
				text-align: left;
				box-sizing: border-box;

				p {
					padding-bottom: calc($spacing-unit / 2);
					opacity: 0.5;
				}
			}

			.underline {
				border-bottom: $border-width solid $border-color;
				height: 1px; // Hauteur minimale pour s'assurer qu'elle est visible
				width: 100%; // S'assure que la bordure s'étend sur toute la largeur
				opacity: 0.35;
			}

			// Adaptations pour les tablettes
			@media (max-width: 1166px) and (min-width: 768px) {
				justify-content: flex-start;
				white-space: nowrap; /* Prevents the text from wrapping */
				overflow: hidden; /* Prevents the text from overflowing the container */
				text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */

				.col {
					flex: 0 0 50%; // Base de 50% pour avoir 2 colonnes
					max-width: 50%; // Largeur maximale de 50%
				}

				.col:not(:first-child):not(:last-child) {
					display: none;
				}
			}

			// Adaptations pour les mobiles
			@media (max-width: $breakpoint-md) {
				justify-content: center;
				//max-width: min-content;
				white-space: nowrap; /* Prevents the text from wrapping */
				overflow: hidden; /* Prevents the text from overflowing the container */
				text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */

				.col:not(:first-child):not(:last-child) {
					display: none;
				}

				.col {
					flex: 0 0 100%; // Base de 100% pour avoir 1 colonne
					max-width: 100%; // Largeur maximale de 100%
				}
			}
		}
	}

	.head-marquee {
		background-color: $warning-color;
		padding: calc($spacing-unit / 2);
		overflow: hidden;
		white-space: nowrap;
		max-width: 100%;

		.scrolling-text {
			display: inline-block;
			animation: scroll-text 40s linear infinite;

			em {
				font-style: italic;
				opacity: 0.5;
			}

			@media (max-width: $breakpoint-md) {
				animation-name: scroll-text-mobile;
			}
		}
	}
}

@keyframes scroll-text {
	0% {
		transform: translateX(3%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes scroll-text-mobile {
	0% {
		transform: translateX(3%);
	}
	100% {
		transform: translateX(-100%);
	}
}
