/* Le style pour la modale */
.modal {
	display: block;
	position: fixed; /* Fixé au-dessus de la page */
	z-index: 1; /* Assurez-vous qu'il se trouve au-dessus des autres éléments */
	left: 0;
	top: 0;
	width: 100%; /* Pleine largeur */
	height: 100%; /* Pleine hauteur */
	overflow: auto; /* Permet de scroller si nécessaire */
	background-color: rgb(246, 246, 246); /* Couleur de fond */
	background-color: rgba(251, 250, 250, 0.4); /* Noir avec opacité */

	/* Le style du contenu de la modale */
	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fefefe;
		margin: 15% auto; /* 15% du haut et centré horizontalement */
		padding: 15px;
		width: 80%; /* Peut être plus ou moins, selon le besoin */
		max-width: 650px; /* Une largeur maximale pour les grands écrans */
		min-width: 200px; /* Une largeur minimale pour s'assurer qu'il reste rectangulaire */
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); // Ajoute une ombre portée
		//opacity: .5;

		// Styles pour les icônes SVG utilisées dans le modal
		.svg-icon {
			align-self: center; // Ceci va centrer l'icône SVG verticalement dans son conteneur
			display: inline-block;
			width: 30%; /* Utilisez un pourcentage pour que l'icône s'adapte à la largeur du modal */
			height: auto; /* Gardez le ratio de l'icône intact */
			max-width: 100px; /* Une taille maximale pour l'icône */
			margin: 5px 0 10px 0;
			vertical-align: middle; // Pour aligner l'icône avec le texte adjacent
		}

		// Pour le titre et le paragraphe, vous pouvez les regrouper dans un conteneur si nécessaire
		.text-content {
			align-self: stretch; // Ceci va étendre le contenu textuel pour occuper la largeur disponible
			text-align: left; // Pour aligner le texte à gauche conformément aux conventions W3C
		}

		button {
			margin: 30px 0 0 0;
			width: 100%;
			padding: 10px;
			background-color: #e7f3ff;
			color: #1877f2;
			border: none;
			border-radius: 5px;

			&:hover,
			&:focus {
				background-color: #dbe7f2;
			}
		}

		/* Le bouton pour fermer la modale */
		.close {
			align-self: flex-end; // Place le bouton à droite
			color: #858585;
			float: right;
			font-size: 28px;
			width: 30px; // Taille du cercle, ajustez selon vos besoins
			height: 30px; // Taille du cercle, ajustez selon vos besoins
			line-height: 30px; // Centrer verticalement le texte dans le cercle
			text-align: center; // Centrer horizontalement le texte
			background-color: #e2e2e2; // Couleur de fond gris clair
			border-radius: 50%; // Rend le bouton rond
			cursor: pointer; // Change le curseur en main au survol
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			background-color: #e6e6e6;
			cursor: pointer;
		}
	}
}
