body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

blockquote {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.Titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.unp {
	font-size: 10px;
}
.style34 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}
body,
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
td,
a {
	font-size: 10px;
}
