body {
	background-image: url("../../public/images/DreamingSarah/ring.jpg"); // replace with the path to your image
	background-size: cover; // this will make sure the image covers the entire header
	background-repeat: no-repeat; // this will prevent the image from repeating
	background-position: center center; // this centers the image in the header
	background-attachment: fixed; // ensures the background stays in place when scrolling
	height: 100%; // ensures the body covers the whole viewport
	margin: 0; // removes default margin
	overflow-x: hidden; // prevents horizontal scrolling
}

html {
	height: 100%; // ensures the html element covers the whole viewport
}

blockquote {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
